p,a,h1,h2 { font-family: Arial, sans-serif; font-size: 18px; color: #72b4f1; }

div { text-align: center; }

body {
    cursor: url('misc/img/glaceoncur.gif'), auto;
    background-image: url('misc/img/glac_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

.blur-box {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.65);
    padding: 50px;
    margin: 25px auto;
    max-width: 1000px;
    height: 100%;
    border-radius: 20px;
    }