p,a,h1,h2 { font-family: Arial, sans-serif; font-size: 18px; color: #72b4f1; }

div { text-align: center; }

html {
    cursor: url('misc/img/glaceoncur.gif'), auto;
    background-image: url('misc/img/glac_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

.blur-box {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.65);
    padding: 50px;
    margin: 25px auto;
    max-width: 1000px;
    height: 100%;
    border-radius: 20px;
    }

#form {
        background: rgba(0, 0, 0, 0.35);
        padding: 50px;
        margin: 25px auto;
        max-width: 1000px;
        height: 100%;
        border-radius: 20px;
      }

      input:hover, textarea:hover, input:focus, textarea:focus { outline: 4px solid #0085ff; }

      input, textarea {
        outline: 2px solid #0085ff;
        backdrop-filter: blur(2px);
        background: rgba(185, 219, 248, 1);
        color: #0063bf;
        border: 0;
        border-radius: 20px;
        padding: 10px;
        margin: 10px auto;
        text-align: center;
      }

      textarea {
        resize: none;
        width: 100%;
        height: 5em;
        text-align: left;
      }

      input::placeholder, textarea::placeholder, input[type=submit] {
        color: #0063bf;
        text-align: center;
        font-weight: bold;
      }

      textarea::placeholder { line-height: calc(5em - 5px); }